div{text-align: center;}
h1{color: #005677;
    background-color: #C4C4C4;
text-align: center;}
h2{color: #005677;
        background-color: #C4C4C4;    
     
}
span{font-weight: bold;
font-style: italic;
text-align: center;}




footer{background-color: #005677;
text-align: center;}